*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.orig
*.rej
*~
.DS_Store
.\#*
.classpath
.gradle/
.idea/
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
\#*
bin/
gen/
google-play-services_lib/bin/google-play-services_lib.jar
local.properties
proguard/
target/
volley/bin/volley.jar
