<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ubudu.sdk"
          android:versionCode="24"
          android:versionName="1.4.4" >

  <!-- BEGIN UbuduSDK stuff -->
  <uses-sdk
      android:minSdkVersion="18"
      android:targetSdkVersion="18" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <!-- END UbuduSDK stuff -->
  


  <application
      android:allowBackup="true">


    <!-- BEGIN UbuduSDK stuff -->

    <activity
        android:name="com.ubudu.sdk.WebActivity"
        />   


    <receiver android:name=".service.UbuduBootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
    </receiver>


    <service
        android:name="com.ubudu.sdk.service.UbuduService"
        android:enabled="true"
        android:exported="false" >
      <intent-filter>
        <action android:name="com.ubudu.sdk.service.UbuduService.action.DISPLAY_WEB_PAGE" />
        <action android:name="com.ubudu.sdk.service.UbuduService.action.OPEN_SAMSUNG_WALLET" />
      </intent-filter>
    </service>

    <!-- the others should be coallesced in the above service... -->

    <service
        android:name="com.ubudu.network.ibeacon.service.IBeaconService"
        android:enabled="true"
        android:exported="false"
        android:isolatedProcess="false"
        />

    <service
        android:name="com.ubudu.network.ibeacon.IBeaconIntentProcessor"
        android:enabled="true" 
        android:exported="false"
        android:isolatedProcess="false"
        >
			<meta-data android:name="background" android:value="true" />
      <intent-filter 
          android:priority="1" >
        <action android:name="com.ubudu.sdk.beacon.internal.action.IBeaconIntentProcessor"/>
      </intent-filter>
    </service>  
    
    <!-- END UbuduSDK stuff -->

  </application>

</manifest>
