<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubudu.sdk">

    <!-- UbuduSDK requires a minSdkVersion of 18 or above -->
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <activity android:name="com.ubudu.sdk.WebActivity" />

        <receiver android:name="com.ubudu.sdk.service.UbuduBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".helper.UbuduLocationServicesStateReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".helper.BluetoothStateChangedBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.ubudu.sdk.service.UbuduService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ubudu.sdk.service.UbuduService.action.DISPLAY_WEB_PAGE" />
                <action android:name="com.ubudu.sdk.service.UbuduService.action.OPEN_SAMSUNG_WALLET" />
                <action android:name="com.ubudu.sdk.service.UbuduService.action.OPEN_DEEP_LINK" />
            </intent-filter>
        </service>
        <service
            android:name="com.ubudu.beacon.service.UbuduBeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false" />
        <service
            android:name="com.ubudu.beacon.IBeaconIntentProcessor"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false">
            <meta-data
                android:name="background"
                android:value="true" />
            <intent-filter android:priority="1">
                <action android:name="com.ubudu.sdk.beacon.internal.action.IBeaconIntentProcessor" />
            </intent-filter>
        </service>

    </application>

</manifest>
